# Server  
PORT=8000  

# Database  
DB_HOST=localhost  
DB_PORT=5432  
DB_USER=postgres  
DB_PASSWORD=postgres  
DB_NAME=app  
DB_SSL_MODE=disable  

# Auth  
JWT_SECRET=your-very-secret-key-here  
GOOGLE_CLIENT_ID=your-google-client-id  
GOOGLE_CLIENT_SECRET=your-google-client-secret  
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback  

# Logger  
LOG_LEVEL=debug  
LOG_FORMAT=json  

#AI
BASE_URL=https://ai-bd-production-620091903831.us-central1.run.app